<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFE ELEGIDO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>


<body>
     
      <nav class="navbar navbar-nav-md bg-dark navbar-dark">
        <span class="navbar-brand mb-0 h1">"CAFÉ ELEGIDO, De las montañas de Colombia para el mundo."</span>
        <button class="btn btn-outline-success" type="submit">NUESTROS PRODUCTOS </button>
        <a th:href="@{/paginaproductos}"/>

        <ul class="navbar -nav mx-auto mb-2 mb-lg-0"
        <ul/>
      </nav>
     
    <div class="text-center">
                    <img src="https://scontent.fbog10-1.fna.fbcdn.net/v/t1.6435-9/162077972_198564552066106_666504144138547340_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeFfkk5n_4szGG2zQQd9FRrb3vmKeUepIIbe-Yp5R6kghvGq3GZS5GP3IVByP4-CkLNkPdZdycT_-_hFbq8vi_iJ&_nc_ohc=DR_mHuMkak8AX-KYv57&_nc_ht=scontent.fbog10-1.fna&oh=00_AT_Dw019N7Vwp7BdUaipwTFSNdwltCgk58CRG2424gIbLw&oe=6359712B" class="rounded" alt="...">
</div>
            
        
</body>
</html>